{% extends "layout.html" %}
{% block content %}
<section>
	<div class="container">
	<h1>This is the header for the home page</h1>
	<p>This is a dummy paragraph.</p>
	</div>
</section>
    <div class="sign-up-form">
		<form method="POST" action="">
            <h1> Search Here </h1>
		    <hr>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
               <div class="form-group">
                   {{ form.city(class="input-box", placeholder="Enter City Here") }}
               </div>
            </fieldset>
            <hr>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
		</form>
	</div>
{% endblock %}